<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/practica1/src/EjemploCargaDatos.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_ENCODING" value="UTF-16"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="EjemploCargaDatos"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="practica1"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Doracle.jdbc.defaultNChar=true"/>
</launchConfiguration>
